.button{
    background-color: rgba(245, 214, 76, 0.897);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    margin: 4px 2px;
    border-radius: 8px;
    width: 80px;
}
.input{
    background-color: white;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: right;
    text-decoration: none;
    font-size: 20px;
    margin: 4px 2px;
    border-radius: 8px;
    width: 280px;
    border: 1px solid rgba(107, 107, 107, 0.966);
}
.box{
    padding: 15px 20px;
    height: 390px;
    margin: 30px auto auto;
    width: 350px;
    background-color :rgb(219, 181, 99);
    border-radius: 8px;
    text-align: center;

}
.photo{
    margin: -30px 150px 250px;
}
h2{
    color: white;
	font-family: 'Georgia', Times, Times New Roman, serif;
	padding-bottom: 3px;
}